<!DOCTYPE html>
<html>
<head>
    <title>FastNews</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/client/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/client/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/client/images/favicon/favicon-16x16.png">
    <!--[if lt IE 9]>
    <script src="/assets/client/js/html5shiv.min.js"></script>
    <script src="/assets/client/js/respond.min.js"></script>
    <![endif]-->
    <style>
        /* body {
          font-family: Tno,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
        } */
    </style>
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            <ul class="top_nav">
                                <li><a href="#"></a>Đăng ký</li>
                                <li><a href="#"></a>Đăng nhập</li>
                                <li><a href="#"></a>Liên hệ</li>
                            </ul>
                        </div>
                        <div class="header_top_right">
                            <form action="#" class="search_form">
                                <input type="text" placeholder="Tìm kiếm">
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                    <div class="header_bottom">
                        <div class="header_bottom_left"><a class="logo" href="index.html">fast<strong>News</strong> <span style="font-family: TArial, Helvetica, sans-serif">Tri Thức Là Sức Mạnh</span></a></div>
                        <div class="header_bottom_right"><a href="#"><img src="/assets/client/images/addbanner_728x90_V1.jpg" alt=""></a></div>
                    </div>
                </div>
            </div>
        </header>
        <div id="navarea">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                            @{ Html.RenderAction("MainMenu", "Home"); }
                    </div>
                </div>
            </nav>
        </div>
        <section id="mainContent">
            @*<div class="content_top">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm6">
                        <div class="latest_slider">
                            <div class="slick_slider">
                                <div class="single_iteam">
                                    <img src="/assets/client/images/550x330x1.jpg" alt="">
                                    <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                                </div>
                                <div class="single_iteam">
                                    <img src="/assets/client/images/550x330x2.jpg" alt="">
                                    <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                                </div>
                                <div class="single_iteam">
                                    <img src="/assets/client/images/550x330x3.jpg" alt="">
                                    <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                                </div>
                                <div class="single_iteam">
                                    <img src="/assets/client/images/550x330x4.jpg" alt="">
                                    <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm6">
                        <div class="content_top_right">
                            <ul class="featured_nav wow fadeInDown">
                                <li>
                                    <img src="/assets/client/images/300x215x1.jpg" alt="">
                                    <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                                </li>
                                <li>
                                    <img src="/assets/client/images/300x215x2.jpg" alt="">
                                    <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                                </li>
                                <li>
                                    <img src="/assets/client/images/300x215x3.jpg" alt="">
                                    <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                                </li>
                                <li>
                                    <img src="/assets/client/images/300x215x4.jpg" alt="">
                                    <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="content_bottom">
                <div class="col-lg-8 col-md-8">
                    <div class="content_bottom_left">
                        @RenderBody()
                    </div>
                    @RenderSection("OptionPostDetail",false)
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="content_bottom_right">
                        <div class="single_bottom_rightbar">
                            <h2>Các bài viết gần đây</h2>
                                @{ Html.RenderAction("RecentPost", "Home"); }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single_footer_top wow fadeInLeft">
                            <!-- <h2>Flicker Images</h2>
                            <ul class="flicker_nav">
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                              <li><a href="#"><img src="/assets/client/images/75x75.jpg" alt=""></a></li>
                            </ul> -->
                            <h2>Thông tin tòa soạn</h2>
                            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec laoreet orci, eget ullamcorper quam. Phasellus lorem neque, </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single_footer_top wow fadeInDown">
                            <h2>Labels</h2>
                            <ul class="labels_nav">
                                <li><a href="#">Thể thao</a></li>
                                <li><a href="#">Văn hóa</a></li>
                                <li><a href="#">Xã hội</a></li>
                                <!-- <li><a href="#">Fashion</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Slider</a></li>
                                <li><a href="#">Life &amp; Style</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single_footer_top wow fadeInRight">
                            <h2>About Us</h2>
                            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec laoreet orci, eget ullamcorper quam. Phasellus lorem neque, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom_left">
                            <p>Copyright &copy; 2045 <a href="index.html">magExpress</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom_right">
                            <p>Developed BY Wpfreeware</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/assets/client/js/jquery.min.js"></script>
    <script src="/assets/client/js/bootstrap.min.js"></script>
    <script src="/assets/client/js/wow.min.js"></script>
    <script src="/assets/client/js/slick.min.js"></script>
    <script src="/assets/client/js/custom.js"></script>
</body>
</html>